<div class="container">
  <div>
    <h1 class="title">{{ 'PAGES.HOME.TITLE' | translate }} v{{ version }}</h1>

    <button (click)="barcode()" type="submit">Get Product</button>
    <button (click)="closeDay()" type="submit">Close Day</button>
    <button (click)="getOperators()" type="submit">Get Operators</button>
    <button (click)="signIn()" type="submit">Sign In</button>
    <button (click)="getCategories()" type="submit">Get Categories</button>
    <button (click)="goToSetup()" type="button" class="setup-btn">Setup page</button>

    <br />
    <button (click)="getSuppliers()" type="submit">Get Suppliers</button>
    <button (click)="getPurchaseOrders()" type="submit">Get Purchase Orders</button>
    <button (click)="sync()" type="submit">Sync</button>

    <br />
    <button (click)="checkUpdates()">Check Updates</button>
    <button (click)="installUpdate()">Install Update</button>
    <button (click)="reboot()">Reboot</button>
    <button (click)="batch()">Batch</button>
    <p style="text-align: center;">
      <button (click)="goToDashboard()">Dashboard</button>
    </p>
  </div>
</div>
