<!-- <div mat-dialog-content class="wifi-password-popup">
  <div class="wifi-password-popup__title">
    Wi-Fi
    <button class="wifi-password-popup__close" (click)="onClose()">
      <img src="../../../../assets/images/icons/delete.svg" />
    </button>
  </div>

  <form
    class="wifi-password-popup__form"
    [formGroup]="form"
    (submit)="onSubmit()"
  >
    <div class="wifi-password-popup__head">პაროლი {{ item.ssid }}-თვის</div>

  </form>
</div> -->

<div class="pt-4 pb-12px px-56px">
  <form class="wifi-password-popup__form" [formGroup]="form">
    <div class="font-family-bold font-color-dark font-size-20 pb-4 line-height-normal">
      {{ item.ssid }}
    </div>
    <div class="pb-3 font-family-bold font-color-dark font-size-16 line-height-normal">
      პაროლი
    </div>
    <input
      type="password"
      class="h-56px input-regular w-100"
      formControlName="password"
      (change)="isError = false"
      [class.invalid]="isError"
    />

    <div *ngIf="isError" class="font-color-red-regular font-family-regular font-size-15 pt-2">
      პაროლი არასწორია, სცადეთ თავიდან.
    </div>

    <div class="d-flex justify-content-center pt-32px">
      <button
        class="btn shadow-none border-0 bg-product-list-bg w-100 h-56px font-family-bold font-size-16 font-color-dark mr-2"
        (click)="onClose()"
      >
        გაუქმება
      </button>
      <button
        class="btn shadow-none border-0 bg-blue w-100 h-56px font-family-bold font-size-16 font-color-white ml-2"
        [disabled]="form.invalid"
        (click)="onSubmit()"
      >
        დადასტურება
      </button>
    </div>
  </form>
</div>
