.bank-payment-popup {
  padding: 0;
  position: relative;

  &__decline {
    float: right;
    width: calc(50% - 84px);
    margin-top: 10px;
    height: 64px;
    outline: none;
    font-family: NotoSans;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #4562ff;
    border-radius: 4px;
    background: white;
    border: solid 1px #4562ff;
    color: #4562ff;
    margin: 24px 72px 72px 12px;
  }

  &__title {
    margin: 0;
    font-family: NotoSans;
    font-size: 24px;
    font-weight: 600;
    border-bottom: 1px solid #e6ecf5;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #515366;
    width: 100%;
    padding: 0 100px;
    padding: 32px;
    box-sizing: border-box;
    text-align: center;
    font-family: NotoSans;
  }

  &__item {
    font-family: NotoSans;
    padding: 24px 0;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    margin: 0;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    border-bottom: 1px solid #e6ecf5;
    letter-spacing: normal;
    color: #888ea8;
  }

  &__close {
    width: 98px;
    height: 98px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    border-left: 1px solid #e6ecf5;
    background: transparent;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 34px;
    }
  }

  &__item {
    cursor: pointer;
  }

  &__item-img {
    float: left;
    padding: 0 24px;
    line-height: 1;
    position: relative;

    img {
      width: 56px;
    }

    &.bog {
      &::after {
        content: '';
        width: 16px;
        height: 16px;
        position: absolute;
        right: 20px;
        bottom: 2px;
        background: url(../../../../../../assets/images/icons/arrows-bog.svg) no-repeat center
          center;
        background-size: 100%;
      }
    }
  }

  &__item-text {
    float: left;
    font-family: NotoSans;
    font-size: 18px;
    font-weight: 500;
    margin-top: 15px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #515366;

    span {
      color: #c0c5d2;
    }
  }

  &__back {
    position: absolute;
    top: 36px;
    left: 31px;
    border: none;
    background: transparent;

    img {
      width: 28px;
      filter: grayscale(100%);
    }
  }
}

// .mat-dialog-container .bank-payment-popup {
//   margin: -24px;
// }
