.wifi-password-popup {
  &__error-message {
    color: red;
    font-family: NotoSans;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    padding: 20px 0 0;
  }
}
