<div class="w-100 text-center pt-5 d-flex justify-content-center syncronization">
  <button
    style="width: 205px; height: 56px;"
    class="btn shadow-none border-0 d-flex align-items-center bg-blue pr-4 py-10px pl-3 font-color-white font-size-16 font-family-bold justify-content-center"
    [disabled]="disabled"
    [ngClass]="{ disabled: disabled }"
    (click)="onClick()"
  >
    <div *ngIf="!loading" class="d-flex align-items-center">
      <app-icon icon="sync-white"></app-icon>
      <span class="cursor-pointer"> სინქრონიზაცია </span>
    </div>

    <div *ngIf="loading" class="d-flex align-items-center">
      <app-icon icon="loader"></app-icon>
    </div>
  </button>
</div>
