.filter {
  &-dialog {
    &.no-before {
      &::before {
        content: none;
      }
    }
    position: absolute;
    right: 0px;
    background-color: $white;
    border: $border-width solid $table-border-color;
    box-shadow: 0 11px 16px -18px #bababa;
    display: none;
    padding: 4px 0px;
    width: 100%;
    color: $dark;
    box-shadow: 0 10px 30px -16px rgba(0, 0, 0, 0.6);

    &:not(.top) {
      top: 85%;

      // &::before {
      //   top: -8px;
      //   border: {
      //     top: $border-width solid $border-color;
      //     right: $border-width solid $border-color;
      //   }
      // }
    }

    &.top {
      bottom: 85%;

      // &::before {
      //   bottom: -8px;
      //   border: {
      //     bottom: $border-width solid $border-color;
      //     left: $border-width solid $border-color;
      //   }
      //   transform: rotate(-45deg);
      // }
    }

    @include media-breakpoint-up(sm) {
      width: 230px;
    }

    // &::before {
    //   content: '';
    //   display: block;
    //   position: absolute;
    //   right: 10px;
    //   width: 15px;
    //   height: 15px;
    //   background-color: $white;
    //   transform: rotate(-45deg);
    // }

    z-index: 112;
    @include border-radius($border-radius);

    &.active {
      display: block;
    }

    &-type {
      &-dropdown {
        // padding: 0.5rem 0;
        min-width: 230px;
        width: 90%;
      }
    }
  }

  &-reset {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    border: none;
    background-color: transparent;
  }
}

.date-picker-top-100 {
  .filter-dialog {
    top: 100%;
  }
}
.date-picker-r-13 {
  .filter-dialog {
    right: 13px;
  }
}
.date-picker-regular {
  .filter-dialog {
    top: 105%;
    width: 312px;
    padding: 28px 24px;
    height: 340px;
  }
  &.r-0 {
    .filter-dialog {
      left: unset;
      right: 0px;
    }
  }
  &.l-0 {
    .filter-dialog {
      left: 0px;
    }
  }
  &.r-13px {
    .filter-dialog {
      left: unset;
      right: 13px;
    }
  }
  &.w-304px {
    .filter-dialog {
      width: 304px;
    }
  }
  &.w-340px {
    .filter-dialog {
      width: 340px;
    }
  }
  &.top-4px {
    .filter-dialog,
    .range-picker-wrapper {
      top: 4px !important;
    }
  }
  &.only-range-picker {
    .range-picker-wrapper {
      z-index: 113;
      display: none;
      height: 300px;
      position: absolute;
      // display: flex;
      top: 105%;
      right: 0px;
      box-shadow: 0 10px 30px -16px rgba(0, 0, 0, 0.6);
      @include border-radius;
      border: 1px solid $table-border-color;
      overflow: hidden !important;
      .filter-dialog {
        position: static !important;
        box-shadow: none !important;
        border: none !important;
      }
      .filter-by-days {
        position: static;
        width: 166px;
        height: 100%;
        background-color: white;
        border-left: 1px solid $table-border-color;
        z-index: 1;
        padding: 24px 0px 28px 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .filter-days {
          cursor: pointer;
          padding-left: 16px;
          height: 30px;
          display: flex;
          align-items: center;
          font: 14px $font-regular;
          @include transition;
          &:hover,
          &.isActiveRange {
            color: $blue;
          }
        }
      }
    }
    .date-range-picker-wrapper {
      .date-range-picker-actions {
        .section-center {
          width: 250px !important;
          input {
            width: 195px;
          }
        }
      }
    }
  }
  &.dashboard-date-picker-u-md {
    @include media-breakpoint-down(sm) {
      .date-range-picker-wrapper {
        border-top: 1px solid $pagination-border;
        border-bottom: 1px solid $pagination-border;
        height: 65px;
        display: flex;
        align-items: center;
        .date-range-picker-actions {
          width: 100%;
          height: 100%;
          .left-arrow-btn,
          .right-arrow-btn {
            display: none;
          }
          .section-center {
            border-top: 0px;
            border-bottom: 0px;
            width: 100%;
            input {
              font-size: 16px;
              font-family: $font-bold;
              width: 170px;
            }
          }
        }
      }
    }
  }
}
.date-picker-top-115 {
  .filter-dialog {
    top: 115% !important;
  }
}
.date-picker-bottom {
  .filter-dialog {
    top: 90px;
    right: 12px;
  }
}
.date-picker-r-66 {
  .filter-dialog {
    right: 66px;
  }
}
