.error {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  animation-iteration-count: forwards;
  -webkit-animation-iteration-count: forwards;
}

@-webkit-keyframes bounce {
  0%,
  100% {
    -webkit-transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(-10px);
  }
  50% {
    -webkit-transform: translateX(20px);
  }
  75% {
    -webkit-transform: translateX(10px);
  }
}
@keyframes bounce {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(20px);
  }
  75% {
    transform: translateX(10px);
  }
}
