<div class="container-fluid h-100 px-0 custom-scroll-1">
  <div
    class="row m-0 justify-content-between pr-5 pl-0 d-flex align-items-center py-lg-35px py-20px border-bottom"
  >
    <div class="col-2 px-0 h-100">
      <button class="btn shadow-none border-0 m-0 p-0 pl-5 h-100" (click)="backToDashboard()">
        <app-icon icon="back"></app-icon>
      </button>
    </div>
    <div class="col text-center font-size-20 font-family-bold font-color-dark">
      ი/პ გაყიდვის დამატება
    </div>
    <div class="col-2 px-0"></div>
  </div>

  <div class="m-auto pt-32px" style="max-width: 808px;">
    <div class="font-size-18 font-family-bold font-color-dark pb-lg-32px pb-4 line-height-normal">
      ზოგადი ინფორმაცია
    </div>

    <form *ngIf="form" class="w-100 pb-65px" (ngSubmit)="onSubmit()" [formGroup]="form">
      <div class="row m-0 pb-lg-18px">
        <ng-container *ngIf="entitySelectMode === LegalEntitySelectMode.Search">
          <div class="col-6 pr-3 pl-0">
            <div class="mb-4">
              <div class="font-size-16 font-family-regular font-color-dark pb-5px">
                დასახელება*
              </div>
              <div
                class="input-search-wrapper w-100 h-48px border border-item-border-color rounded-top pl-3 pr-4 d-flex align-items-center"
              >
                <app-icon icon="search" class="mr-1"></app-icon>
                <input
                  class="border-0 w-100 font-size-15 font-family-regular font-color-dark placeholder-currentcolor"
                  placeholder="ძიება"
                  (keyup)="onItemsSearch.next($event)"
                  type="text"
                  #searchInput
                />
                <div
                  class="btn-div clear-search"
                  (click)="clearSearchInputValue()"
                  [ngClass]="{ active: searchInput.value !== '' }"
                >
                  <app-icon icon="close"></app-icon>
                </div>
              </div>

              <div class="custom-select-wrapper rounded-top-0 border-top-0" style="height: 524px;">
                <div
                  class="custom-select-body"
                  (scroll)="onItemsScroll.next($event)"
                  #clientListRef
                >
                  <ng-container *ngIf="items">
                    <div
                      class="custom-select-item pl-3"
                      *ngFor="let client of items"
                      (click)="onClientSelect(client)"
                      [ngClass]="{ selected: client.id === selectedClientId }"
                    >
                      <div class="d-flex flex-column h-100 justify-content-center col-11 px-0">
                        <span class="pb-1 font-size-16 font-family-bold line-height-normal">{{
                          client.entityName
                        }}</span>
                        <span class="font-size-14 font-family-regular line-height-normal">{{
                          client.entityIdentifier
                        }}</span>
                      </div>
                    </div>
                  </ng-container>
                  <div
                    class="d-flex flex-column w-100 align-items-center pt-80px"
                    *ngIf="items.length === 0"
                  >
                    <app-icon icon="no-data"></app-icon>
                    <span class="font-size-15 font-family-bold pt-2">მონაცემები ცარიელია</span>
                  </div>
                </div>
                <button class="custom-select-footer" (click)="switchToAddClient()">
                  <app-icon icon="plus" class="mr-1"></app-icon>
                  ახალი კომპანია
                </button>
              </div>
            </div>
          </div>

          <div class="col-6 pl-3 pr-0">
            <!-- <div class="mb-4">
              <div class="font-size-16 font-family-regular font-color-dark pb-5px">
                კომპანიის ტიპი*
              </div>

              <ng-select
                [items]="companyTypeItems"
                formControlName="companyType"
                bindLabel="text"
                bindValue="value"
                [searchable]="false"
                [clearable]="false"
                class="form-control input-regular h-56px shadow-none d-flex align-items-center cursor-pointer border border-item-border-color"
                (change)="onCompanyTypeChange($event)"
              >
              </ng-select>
            </div> -->

            <div class="mb-32px">
              <div class="font-size-16 font-family-regular font-color-dark pb-5px">
                გადახდის მეთოდი*
              </div>

              <!-- <ng-select
                [items]="paymentTypeItems"
                formControlName="paymentType"
                bindLabel="text"
                bindValue="value"
                [searchable]="false"
                [clearable]="false"
                class="form-control input-regular h-56px shadow-none d-flex align-items-center cursor-pointer border border-item-border-color"
                (change)="onPaymentTypeClick($event)"
              >
              </ng-select> -->
              <div class="custom-select-wrapper">
                <div class="custom-select-body">
                  <div
                    class="custom-select-item"
                    *ngFor="let paymentTypeItem of paymentTypeItems"
                    (click)="onPaymentTypeClick(paymentTypeItem)"
                    [ngClass]="{ selected: paymentTypeItem.value === paymentType }"
                  >
                    <span>{{ paymentTypeItem.text }}</span>
                  </div>
                  <!-- <div class="custom-select-item">
                    <span>ბარათით ანგარიშსწორება </span>
                  </div>
                  <div class="custom-select-item">
                    <span>კონსიგნაცია </span>
                  </div> -->
                </div>
              </div>
            </div>
            <div class="mb-32px">
              <div
                class="font-size-16 font-family-regular font-color-dark pb-5px line-height-normal"
              >
                საწყისი მისამართი*
              </div>
              <input
                class="input-regular h-56px w-100 px-4"
                formControlName="startAddress"
                type="text"
              />
            </div>

            <div class="row m-0">
              <div class="font-size-16 font-family-regular font-color-dark pb-2">
                აღწერა
              </div>
              <textarea
                style="height: 195px;"
                class="form-control shadow-none border border-item-border-color mb-32px"
                formControlName="comment"
              ></textarea>

              <div class="d-flex align-items-center">
                <!-- <input
                  type="checkbox"
                  id="with-shipping"
                  class="custom-blue-checkbox"
                />
                <label
                  for="with-shipping"
                  class="font-size-16 font-family-regular font-color-dark m-0"
                >
                  <span class="line-height-normal ml-2">ტრანსპორტირებით</span>
                </label> -->
                <mat-checkbox formControlName="hasTransportation">
                  <span class="pl-2 font-family-regular"> ტრანსპორტირება </span>
                </mat-checkbox>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="entitySelectMode === LegalEntitySelectMode.Manual">
          <div class="col pr-3 pl-0">
            <div class="mb-4">
              <div class="font-size-16 font-family-regular font-color-dark pb-5px">
                დასახელება*
              </div>
              <input class="input-regular h-56px w-100" formControlName="name" type="text" />
            </div>
            <div class="mb-4">
              <div class="font-size-16 font-family-regular font-color-dark pb-5px">
                საიდენტიფიკაციო კოდი*
              </div>
              <input
                class="input-regular h-56px w-100"
                formControlName="code"
                type="text"
                [mask]="codeMask"
              />
            </div>
          </div>
          <div class="col pl-3 pr-0">
            <!-- <div class="mb-4">
              <div class="font-size-16 font-family-regular font-color-dark pb-5px">
                კომპანიის ტიპი*
              </div>
  
              <ng-select
                [items]="companyTypeItems"
                formControlName="companyType"
                bindLabel="text"
                bindValue="value"
                [searchable]="false"
                [clearable]="false"
                class="form-control input-regular h-56px shadow-none d-flex align-items-center cursor-pointer border border-item-border-color"
                (change)="onCompanyTypeChange($event)"
              >
              </ng-select>
            </div> -->
            <div class="mb-4">
              <div class="font-size-16 font-family-regular font-color-dark pb-5px">
                გადახდის მეთოდი*
              </div>
              <ng-select
                [items]="paymentTypeItems"
                formControlName="paymentType"
                bindLabel="text"
                bindValue="value"
                [searchable]="false"
                [clearable]="false"
                class="form-control input-regular h-56px shadow-none d-flex align-items-center cursor-pointer border border-item-border-color"
                (change)="onPaymentTypeClick($event)"
              >
              </ng-select>
            </div>
            <div class="mb-4">
              <div class="font-size-16 font-family-regular font-color-dark pb-5px">
                საწყისი მისამართი*
              </div>
              <input
                class="input-regular h-56px w-100"
                formControlName="startAddress"
                type="text"
              />
            </div>
          </div>
          <div class="w-100 pb-3">
            <div class="font-size-16 font-family-regular font-color-dark pb-2">
              აღწერა
            </div>
            <textarea
              style="height: 195px;"
              class="form-control shadow-none border border-item-border-color mb-4"
              formControlName="comment"
            ></textarea>

            <div class="d-flex align-items-center">
              <!-- <input
                type="checkbox"
                id="with-shipping"
                class="custom-blue-checkbox"
              />
              <label
                for="with-shipping"
                class="font-size-16 font-family-regular font-color-dark m-0"
              >
                <span class="line-height-normal ml-2">ტრანსპორტირებით</span>
              </label> -->
              <mat-checkbox formControlName="hasTransportation">
                <span class="pl-2 font-family-regular"> ტრანსპორტირება </span>
              </mat-checkbox>
            </div>
          </div>
        </ng-container>
      </div>

      <ng-container *ngIf="hasTransportation">
        <div class="font-size-18 font-family-bold font-color-dark pb-32px pt-40 line-height-normal">
          ტრანსპორტირება
        </div>
        <div class="row m-0 pb-18px">
          <div class="mb-4 col-6 pr-3 pl-0">
            <div class="font-size-16 font-family-regular font-color-dark pb-5px">
              ტრანსპორტირების მეთოდი
            </div>
            <ng-select
              [items]="transportationTypes"
              formControlName="transportationType"
              bindLabel="label"
              bindValue="value"
              [searchable]="false"
              [clearable]="false"
              class="form-control custom-ng-select h-56px shadow-none d-flex align-items-center cursor-pointer border border-item-border-color"
            >
            </ng-select>
          </div>
          <div class="mb-4 col-6 pl-3 pr-0" *ngIf="transportationType === TransportationType.Car">
            <div class="font-size-16 font-family-regular font-color-dark pb-5px">
              მძღოლის სახელი და გვარი*
            </div>
            <input class="input-regular h-56px w-100" formControlName="driverName" type="text" />
          </div>
          <ng-container> </ng-container>
          <div class="mb-4 col-6 pr-3 pl-0" *ngIf="transportationType === TransportationType.Car">
            <div class="font-size-16 font-family-regular font-color-dark pb-5px">
              მოქალაქეობა*
            </div>
            <ng-select
              [items]="citizenItems"
              formControlName="driverIsForeignСitizen"
              bindLabel="text"
              bindValue="value"
              [searchable]="false"
              [clearable]="false"
              class="form-control custom-ng-select h-56px shadow-none d-flex align-items-center cursor-pointer border border-item-border-color"
              (change)="onCitizenshipChange($event)"
            >
            </ng-select>
          </div>
          <div class="mb-4 col-6 pl-3 pr-0" *ngIf="transportationType === TransportationType.Car">
            <div class="font-size-16 font-family-regular font-color-dark pb-5px">
              მძღოლის პირადი ნომერი
              <!-- <ng-container *ngIf="this.citizen === 'georgia'">(11 ციფრი)</ng-container> -->
              *
            </div>
            <input
              class="input-regular h-56px w-100"
              formControlName="driverPIN"
              type="text"
              [mask]="driverPINMask"
            />
          </div>
          <div class="mb-4 col-6 pr-3 pl-0" *ngIf="transportationType === TransportationType.Car">
            <div class="font-size-16 font-family-regular font-color-dark pb-5px">
              ავტომობილის ნომერი*
            </div>
            <input
              class="input-regular h-56px w-100"
              formControlName="driverCarNumber"
              type="text"
            />
          </div>

          <div class="mb-4 col-6 pl-3 pr-0" *ngIf="transportationType === TransportationType.Other">
            <div class="font-size-16 font-family-regular font-color-dark pb-5px">
              სხვა ტრანსპორტი*
            </div>
            <input
              class="input-regular h-56px w-100"
              formControlName="otherTransportName"
              type="text"
            />
          </div>
          <div
            class="mb-4 col-6"
            [style.padding-right.px]="
              !(transportationType === TransportationType.Other) ? '0' : '16'
            "
            [class.pl-0]="transportationType === TransportationType.Other"
          >
            <div class="font-size-16 font-family-regular font-color-dark pb-5px">
              საბოლოო მისამართი*
            </div>
            <input class="input-regular h-56px w-100" formControlName="endAddress" type="text" />
          </div>
        </div>
      </ng-container>

      <div class="row m-0 flex-column pt-40">
        <div class="font-size-18 font-family-bold font-color-dark">
          არჩეული პროდუქტები
        </div>

        <app-legal-entity-products
          [products]="products"
          [totalPrice]="totalPrice"
          [taxAmount]="taxAmount"
          [checkTaxRateIsOff]="checkTaxRateIsOff"
          [totalCost]="totalCost"
        ></app-legal-entity-products>
      </div>

      <button
        class="btn border-0 shadow-none w-100 bg-blue d-flex align-items-center justify-content-center mt-lg-40 mt-4 py-lg-22px py-3"
        type="submit"
        [disabled]="form.invalid"
        [ngClass]="{ disabled: form.invalid }"
      >
        <div class="col-2"></div>
        <div class="col font-color-white font-size-20 font-family-bold cursor-pointer">
          გაგრძელება
        </div>
        <div class="col-2 text-right pr-42px">
          <app-icon icon="pay"></app-icon>
        </div>
      </button>
    </form>
  </div>
</div>
<!-- nothing -->
